{% extends 'main.html' %}
{% block content %}
  {% include 'header.html' %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        {% if category == 'message' %}
          <div class="alert alert-info alert-dismissible" role="alert">
        {% elif category == 'error' %}
          <div class="alert alert-danger alert-dismissible" role="alert">
        {% elif category == 'warning' %}
          <div class="alert alert-warning alert-dismissible" role="alert">
        {% elif category == 'success' %}
          <div class="alert alert-success alert-dismissible" role="alert">
        {% endif %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>{{ category.capitalize() }}!</strong> {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <div class="row">
        <div class="col-lg-4">
          <div class="panel panel-info">
            <div class="panel-heading"><h3>Categories</h3></div>
            <div class="list-group">
              {% for category in categories %}
                {% if category.id == sel_category.id %}
                  <a href="{{ url_for('profile.category_items', category_id=category.id) }}" class="list-group-item active">{{ category.name }}</a>
                {% else %}
                  <a href="{{ url_for('profile.category_items', category_id=category.id) }}" class="list-group-item">{{ category.name }}</a>
                {% endif %}
              {% endfor %}
            </div>
            {% if current_user.is_authenticated %}
              <div class="panel-footer text-right">
                <a href="{{ url_for('profile.new_category') }}" class="btn btn-primary" role="button">Add</a>
              </div>
            {% endif %}
          </div>
        </div>
        <div class="col-lg-8">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3>{{ sel_category.name }} items <span class="badge">{{ items|length }}</span></h3>
            </div>
            <div class="list-group">
              {% for item in items %}
                <a href="{{ url_for('profile.item_profile', item_id = item.id) }}" class="list-group-item">{{ item.name }}
                  <span class="label label-default">{{ item.category.name }}</span>
                </a>
              {% endfor %}
            {% if current_user.is_authenticated %}
              <div class="panel-footer text-right">
                <a href="{{ url_for('profile.new_item') }}" class="btn btn-primary" role="button">Add Item</a>
              </div>
            {% endif %}
            </div>
          </div>
          <!-- Pagination -->
          <nav class="text-center">
            <ul class="pagination">
              {% if pagination.has_prev %}
                <li>
                  <a href="{{ url_for('profile.category_items', category_id=sel_category.id, page=(pagination.prev_num)) }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
              {% else %}
                <li class="disabled">
                  <span aria-hidden="true">&laquo;</span>
                </li>
              {% endif %}
              {%- for page in pagination.iter_pages() %}
                {% if page %}
                  {% if page != pagination.page %}
                    <li><a href="{{ url_for('profile.category_items', category_id=sel_category.id, page=page) }}">{{ page }}</a></li>
{#                    <li><a href="{{ url_for('puppies', page=page) }}">{{ page }}</a></li>#}
                  {% else %}
                    <li class="active"><a href="{{ url_for('profile.category_items', category_id=sel_category.id, page=page) }}">{{ page }}</a></li>
{#                    <li class="active"><a href="{{ url_for('puppies', page=page) }}">{{ page }}</a></li>#}
                  {% endif %}
{#                  {% else %}#}
{#                      <span class=ellipsis>…</span>#}
                {% endif %}
              {% endfor %}
              {% if pagination.has_next %}
                <li>
                  <a href="{{ url_for('profile.category_items', category_id=sel_category.id, page=(pagination.next_num)) }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              {% else %}
                <li class="disabled">
                  <span aria-hidden="true">&raquo;</span>
                </li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="col-lg-1"></div>
  </div>
{% endblock %}