{% extends 'main.html' %}
{% block content %}
  {% include 'header.html' %}
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <div class="row">
        <img class="img-thumbnail" src="{{ user.picture }}">
        <h3>General Information</h3>
        <ul class="profile-details">
          <li>
            <div>
              <span class="glyphicon glyphicon-user"></span>
               name
            </div>
            {{ user.name }}
          </li>
          <li>
            <div>
              <span class="glyphicon glyphicon-envelope"></span>
               email
            </div>
            {{ user.email }}
          </li>
        </ul>
        <h3>Social Information</h3>
        <ul class="profile-details">
          {% for sp in user.social_profiles %}
            <li>
              <div>
                {% if sp.provider == 'google' %}
                  <i class="fa fa-google"></i>
                {% elif sp.provider == 'facebook' %}
                  <i class="fa fa-facebook"></i>
                {% endif %}
                {{ sp.provider }}
              </div>
              <a href="{{ sp.profile }}">{{ sp.provider.title() }} Profile</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-lg-3"></div>
  </div>
{% endblock %}