{% extends 'main.html' %}
{% block content %}
  {% include 'header.html' %}
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <div class="row">
        <img class="img-thumbnail" src="{{ user.picture }}">
        <h3>General Information</h3>
        <ul class="profile-details">
          <li>
            <div>
              <span class="glyphicon glyphicon-user"></span>
               name
            </div>
            {{ user.name }}
          </li>
          <li>
            <div>
              <span class="glyphicon glyphicon-envelope"></span>
               email
            </div>
            {{ user.email }}
          </li>
          <li>
            <div>
              {% if user.social_id.startswith('google') %}
                <i class="fa fa-google"></i>
              {% elif user.social_id.startswith('facebook') %}
                <i class="fa fa-facebook"></i>
              {% endif %}
               social id
            </div>
            {{ user.social_id }}
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-3"></div>
  </div>
{% endblock %}