{% from 'macros.html' import render_fieldBS %}
{% set active_page = active_page|default('index') -%}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('home.index') }}">
        <img alt="Brand" width="20" height="20" src="{{ url_for('static', filename='img/brand.ico') }}">
      </a>
      <a class="navbar-brand" href="{{ url_for('home.index') }}">Catalog App</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ current_user.name }} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('profile.user_profile', user_id=current_user.id) }}"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{{ url_for('home.logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
          </li>
        {% else %}
          <li{% if active_page ==  'signup' %} class="active"{% endif %}><a href="{{ url_for('home.signup') }}"><span class="glyphicon glyphicon-user"></span> Signup</a></li>
          <li{% if active_page ==  'login' %} class="active"{% endif %}><a href="{{ url_for('home.login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

{#<!-- Small modal -->#}
{#<a href="#myModal" role="button" class="btn btn-large btn-primary" data-toggle="modal">Launch Demo Modal</a>#}
{##}
{#<div id="myModal" class="modal fade" role="dialog" aria-labelledby="mySmallModalLabel">#}
{#  <div class="modal-dialog modal-sm">#}
{#    <div class="modal-content">#}
{#      <div class="row">#}
{#        <div class="col-lg-3"></div>#}
{#        <div class="col-lg-6">#}
{#          <h1> Sign up </h1>#}
{#          <form action="{{ url_for('signup') }}" method="POST">#}
{#            {{ form.hidden_tag() }}#}
{#            <fieldset>#}
{#              {{ render_fieldBS(form.name, placeholder=form.name.label.text) }}#}
{#              {{ render_fieldBS(form.email, placeholder=form.email.label.text) }}#}
{#              {{ render_fieldBS(form.password, placeholder=form.password.label.text) }}#}
{#              {{ render_fieldBS(form.confirm_password, placeholder=form.confirm_password.label.text) }}#}
{#              {{ render_fieldBS(form.picture, placeholder=form.picture.label.text) }}#}
{#            </fieldset>#}
{#            <br>#}
{#            <fieldset class="text-right">#}
{#              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
{#              <button type="submit" class="btn btn-primary">Sign up</button>#}
{#            </fieldset>#}
{#          </form>#}
{#        </div>#}
{#        <div class="col-lg-3"></div>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{#</div>#}