body { padding-top: 70px; padding-bottom: 10px; }

.creator {
	padding-right: 20px;
	margin-top: -20px;
	text-align: right;
	float:right;
}
.creator-img {
	width: 100px;
	border-radius: 50%;
}
.creator-figcaption {
	font-size: 14px;
	color: #7B7573;
	font-weight: 400;
	margin-top: 0px;
}

ul.profile-details {
	margin-top: 10px;
	padding: 0 5px;
	list-style: none;
	color: #7c848d
}

ul.profile-details li div {
	color: #b2b8bd
}

ul.profile-details li div span {
	top: 4px;
	left: -5px;
	color: #ced1d4;
	width: 20px;
	text-align: center
}

ul.profile-details li div i {
	top: 4px;
	left: -5px;
	color: #ced1d4;
	width: 20px;
	text-align: center
}