{% extends 'main.html' %}
{% block content %}
  {% set active_page = 'index' %}
  {% include 'header.html' %}
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <div class="row">
        <div class="col-lg-4">
          <div class="panel panel-info">
            <div class="panel-heading"><h3>Categories</h3></div>
            <div class="list-group">
              {% for category in categories %}
                <a href="{{ url_for('profile.category_items', category_id=category.id) }}" class="list-group-item">
                  {{ category.name }}
                  {% if current_user.id == category.user.id %}
                    <span class="pull-right">
                      <button onclick="window.location.href='{{ url_for('profile.edit_category', category_id=category.id) }}'; return false;" class="btn btn-xs btn-warning">
                        <span class="glyphicon glyphicon-pencil"></span>
                      </button>
                    </span>
                  {% endif %}
                </a>
              {% endfor %}
            </div>
            {% if current_user.is_authenticated %}
              <div class="panel-footer text-right">
                <a href="{{ url_for('profile.new_category') }}" class="btn btn-primary" role="button">Add</a>
              </div>
            {% endif %}
          </div>
        </div>
        <div class="col-lg-8">
          <div class="panel panel-info">
            <div class="panel-heading"><h3>Recently added items</h3></div>
            <div class="list-group">
              {% for item in items %}
                <a href="{{ url_for('profile.item_profile', item_id = item.id) }}" class="list-group-item">{{ item.name }}
                  <span class="label label-default">{{ item.category.name }}</span>
                </a>
              {% endfor %}
            {% if current_user.is_authenticated %}
              <div class="panel-footer text-right">
                <a href="{{ url_for('profile.new_item') }}" class="btn btn-primary" role="button">Add Item</a>
              </div>
            {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-1"></div>
  </div>
{% endblock %}