{% extends 'main.html' %}
{% from 'macros.html' import render_fieldBS %}
{% block content %}
  {% set active_page = 'login' %}
  {% set csrf_state = csrf_token() %}
  <script>
    function onLogIn() {
      FB.getLoginStatus(function(response) {
        if (response.status === 'connected') {
          $('#fb_signinButton').attr('style', 'display: none');
          sendToServer(response.authResponse.accessToken);
        }
      });
    }

{#    window.fbAsyncInit = function() {#}
{#    FB.init({#}
{#      appId      : '{{ config['OAUTH_CREDENTIALS']['facebook']['id'] }}',#}
{#      cookie     : true,  // enable cookies to allow the server to access#}
{#                          // the session#}
{#      xfbml      : true,  // parse social plugins on this page#}
{#      version    : 'v2.5' // use graph api version 2.5#}
{#    });#}
{#    };#}
{##}
{#    // Load the SDK asynchronously#}
{#    (function(d, s, id) {#}
{#      var js, fjs = d.getElementsByTagName(s)[0];#}
{#      if (d.getElementById(id)) return;#}
{#      js = d.createElement(s); js.id = id;#}
{#      js.src = "//connect.facebook.net/en_US/sdk.js";#}
{#      fjs.parentNode.insertBefore(js, fjs);#}
{#    }(document, 'script', 'facebook-jssdk'));#}

    function sendToServer(auth_token) {
      $.ajax({
        type: 'POST',
        url: '{{ url_for('home.oauth_callback', provider='facebook', state=csrf_state) }}',
        contentType: 'application/octet-stream; charset=utf-8',
        processData: false,
        data: auth_token,
        success: function(result) {
          // Handle or verify the server response.
          if (result) {
            $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
            setTimeout(function() {
              window.location.href = "{{ url_for('home.index') }}";
            }, 3000);
          } else {
            $('#result').html('Failed to make a server-side call. Check your configuration and console.');
          }
        }
      });
    }
  </script>

  {% include 'header.html' %}
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <h1> {{ action }} </h1>
      <h3> Social </h3>
      <div class="row">
        <div class="col-lg-6 text-center">
          <div class="g-signin2" id="g_signinButton"
               data-scope="openid email"
               data-clientid="{{ config['OAUTH_CREDENTIALS']['google']['id'] }}"
               data-redirecturi="postmessage"
               data-accesstype="offline"
               data-cookiepolicy="single_host_origin"
               data-onsuccess="onSignIn"
               data-onfailure="onSignInFailure"
               data-approvalprompt="force">
          </div>
        </div>
        <div class="col-lg-6 text-center">
          <fb:login-button id="fb_signinButton"
                           scope="public_profile,email"
                           size="large"
                           onlogin="onLogIn();">
          </fb:login-button>
        </div>
      </div>
      <br><br>
      <form action="{{ url_for(form_action) }}" method="POST">
        {{ form.hidden_tag() }}
        <fieldset>
          {{ render_fieldBS(form.email, placeholder=form.email.label.text) }}
          {{ render_fieldBS(form.password, placeholder=form.password.label.text) }}
        </fieldset>
        <br>
        <fieldset class="text-right">
          <button type="submit" class="btn btn-primary">Login</button>
          <a href="{{url_for('home.index')}}" class="btn btn-default" role="button">Cancel</a>
        </fieldset>
        <br><br>
      </form>
      <div id="result"></div>
    </div>
    <div class="col-lg-3"></div>
  </div>
  <script>
    auth2 = gapi.auth2.init();
    auth2.attachClickHandler('g_signinButton', onSignIn, onSignInFailure);

    function onSignIn(authResult) {
      // Hide the sign-in button now that the user is authorized
      $('#g_signinButton').attr('style', 'display: none');
      // Check if code is in response from google
      var code = authResult['code'];
      if (code) { // If yes send the code to server
        var toServer = code;
      } else { // If not send the already signed user email to server
        var profile = authResult.getBasicProfile();
        var email = profile.getEmail();
        var toServer = email;
      }
      $.ajax({
        type: 'POST',
        url: '{{ url_for('home.oauth_callback', provider='google', state=csrf_state) }}',
        contentType: 'application/octet-stream; charset=utf-8',
        processData: false,
        data: toServer,
        success: function(result) {
          // Handle or verify the server response.
          if (result) {
            $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
            setTimeout(function() {
              window.location.href = "{{ url_for('home.index') }}";
            }, 3000);
          }
        }
      });
    }
    function onSignInFailure() {
      // Handle sign-in errors
      $('#result').html('Failed to sign in. Try again please.');
    }
  </script>
{% endblock %}