{% extends 'main.html' %}
{% from 'macros.html' import render_fieldBS %}
{% block content %}
  {% set active_page = 'login' %}
  {% set csrf_state = csrf_token() %}
  <script>
    // Facebook function to run when login process finishes
    function onLogIn() {
      FB.getLoginStatus(function(response) {
        if (response.status === 'connected') {
          $('#fb_signinButton').attr('style', 'display: none');
          sendToServer(response.authResponse.accessToken);
        }
      });
    }

    function sendToServer(auth_token) {
      $.ajax({
        type: 'POST',
        url: '{{ url_for('home.oauth_callback', provider='facebook', state=csrf_state) }}',
        contentType: "application/json; charset=utf-8",
        dataType: 'json',
{#        contentType: 'application/octet-stream; charset=utf-8',#}
        processData: false,
        data: auth_token,
        success: function(result) {
          // Handle or verify the server response.
          if (result) {
            $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
            setTimeout(function() {
              window.location.href = "{{ url_for('home.index') }}";
            }, 3000);
          } else {
            $('#result').html('Failed to make a server-side call. Check your configuration and console.');
          }
        }
      });
    }
  </script>
  {% include 'header.html' %}
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <h1> {{ action }} </h1>
      <h3> Social </h3>
      <div class="row">
        <div class="col-lg-6 text-center">
          <!-- Define Google sign in button -->
          <div id="g_signinButton"></div>
        </div>
        <div class="col-lg-6 text-center">
          <!-- Define Facebook sign in button -->
          <fb:login-button id="fb_signinButton"
                           scope="public_profile,email"
                           size="large"
                           onlogin="onLogIn();">
          </fb:login-button>
        </div>
      </div>
      <br><br>
      <form action="{{ url_for(form_action) }}" method="POST">
        {{ form.hidden_tag() }}
        <fieldset>
          {{ render_fieldBS(form.email, placeholder=form.email.label.text) }}
          {{ render_fieldBS(form.password, placeholder=form.password.label.text) }}
        </fieldset>
        <br>
        <fieldset class="text-right">
          <button type="submit" class="btn btn-primary">Login</button>
          <a href="{{url_for('home.index')}}" class="btn btn-default" role="button">Cancel</a>
        </fieldset>
        <br><br>
      </form>
      <div id="result"></div>
    </div>
    <div class="col-lg-3"></div>
  </div>
{% endblock %}